<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionLocationVoitures"
        android:requestLegacyExternalStorage="true">

        

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".activities.PortalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.VoitureListActivity" />
        <activity android:name=".activities.VoitureFormActivity" />
        <activity android:name=".activities.ClientListActivity" />
        <activity android:name=".activities.ClientFormActivity" />
        <activity android:name=".activities.ReservationListActivity" />
        <activity android:name=".activities.ReservationFormActivity" />
        <activity android:name=".activities.PaiementActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />
        <activity android:name=".activities.ValidationListActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.MapViewActivity" />
        <activity android:name=".activities.VoitureDetailActivity" />
        <activity android:name=".activities.ReservationFormClientActivity" />
    </application>

</manifest>